.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

html {
  font-size: 14px !important;
}

body {
  font-size: 1rem !important;
}

.profile {
  margin: auto;
  border-radius: 5px;
  background-color: #F3F3F3;
  color: black;
  width: 50%;
  height: 55rem;
}

.popup-content {
  width: 30% !important;
  border-radius: 5px !important;
}

.tabs {
  display: flex;
  flex-direction: row;
  text-align: center;
  height: 2rem;
  padding-bottom: 2.5rem;
}

.activetab {
  border-bottom: none !important;
  background: #F3F3F3 !important;
}

.activetab:hover {
  background: #F3F3F3 !important;
}

.tab:hover {
  cursor: pointer;
  background: #E9E9E9;
}

#tab0, #tab1 {
  border-right: solid 0.5px;
}

.nd {
  margin: 5% !important;
}

.tab {
  border-bottom: solid 0.5px;
  width: 100%;
  padding-top: 0.5rem;
  height: 2.5rem;
  background: #D9D9D9;
}

.mod {
  margin-top: 2%;
}

.ber:hover {
  opacity: 0.8 !important;
}

.lodal {
  text-align: center !important;
  padding-top: 2% !important;
}

.form-area {
  padding: 0;
  width: 220%;
}

.form-group {
  margin-bottom: 5%;
}

.lab {
  margin-right: 1.5%;
}

.form-control {
  width: 50%;
  display: inline-block;
}

a.list-group-item {
  height: auto;
  min-height: 220px;
}

.profilefields {
  display: inline-block;
  margin-top: 1.5%;
  font-size: 1.2rem;
}

a.list-group-item.active small {
  color: #fff;
}

.MuiTypography-h6 {
  font-size: 2rem !important;
}

.stars {
  margin: 20px auto 1px;
}

.dropIcon:hover {
  color: white;
  opacity: 0.8;
  cursor: pointer;
}

.dropLi:hover {
  cursor: pointer;
  opacity: 0.7;
}

.MuiButton-root {
  font-size: inherit !important;
}

.form-area {
  padding: 10px 40px 60px;
  margin: 10px 0px 60px;
}

.files input {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
  padding: 60px 0px 40px 15%;
  text-align: center !important;
  margin: 0;
  width: 100% !important;
}

.files input:focus {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
  border: 1px solid #92b0b3;
}

.files {
  position: relative
}

.files:after {
  pointer-events: none;
  position: absolute;
  top: 30px;
  left: 0;
  width: 25px;
  right: 0;
  height: 28px;
  content: "";
  background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
  display: block;
  margin: 0 auto;
  background-size: 100%;
  background-repeat: no-repeat;
}

.color input {
  background-color: #f1f1f1;
}

.files:before {
  position: absolute;
  bottom: 10px;
  left: 0;
  pointer-events: none;
  width: 100%;
  right: 0;
  height: 57px;
  content: " or drag it here. ";
  display: block;
  margin: 0 auto;
  color: #2ea591;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}

body {
  background-image: url('https://media.istockphoto.com/photos/young-happy-people-relaxing-while-using-wireless-technology-at-home-picture-id1073624218');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}